.webLogo {
  width: 841px;
  height: 322px;
  margin-right: 186px;
}

.text_container {
  width: 553px;
}

.title {
  font-family: Titan One;
  font-size: 64px;
  font-weight: 400;
  background: linear-gradient(92deg, #00e5af 3.33%, #00b6e5 110.69%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: white;
  /* margin-bottom: 36px; */
  padding-bottom: 36px;
}

.desc {
  color: #f4f4f4;
  font-family: Titan One;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
  padding-bottom: 36px;
}

.mint_button {
  width: 251px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 50px;
  background: linear-gradient(82deg, #00efa3 -3.24%, #00aeee 102.8%);
  color: #fff;
  font-family: Titan One;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  cursor: pointer;
}

.landingpage_social {
  margin-top: 38px;
}
.landingpage_social_icon {
  margin-right: 13px;
  cursor: pointer;
}
